[Unit]
Description=Update novpn_ns rules every minute while novpn.service is active
BindsTo=novpn.service

[Timer]
OnUnitActiveSec=1min
Persistent=false