[Unit]
Description=Update novpn_ns rules every minute while novpn.service is active
BindsTo=novpn.service

[Timer]
OnActiveSec=1min
Persistent=false
Unit=novpn-keepalive.service