[Unit]
Description=CLI tool to easily run programs on a specific network device.
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot

ExecStartPre=/usr/bin/novpn_ns wait_for_device
ExecStart=/usr/bin/novpn_ns up
ExecStartPost=/usr/bin/systemctl start novpn-keepalive.timer

ExecStop=/usr/bin/novpn_ns down
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
