pkgbase = novpn
	pkgdesc = CLI tool to easily run programs with access to only one network device
	pkgver = 1.2.0
	pkgrel = 1
	url = https://github.com/USSURATONCACHI/novpn
	install = novpn.install
	arch = any
	license = Apache-2.0
	makedepends = coreutils
	depends = bash
	depends = firejail
	depends = iproute2
	depends = iptables
	depends = grep
	depends = gawk
	depends = coreutils
	depends = systemd
	source = https://github.com/USSURATONCACHI/novpn/archive/refs/tags/v1.2.0.tar.gz
	sha256sums = 5d053f2ee2f8e0269ee3f61520b10da8ac53d601ac9bd06110babde45f5fa88b

pkgname = novpn
